/* My custom styles */

html,
body,
.header {
height: 100%;
}

#intro {
  height: 600px;
  background: url('https://static.pexels.com/photos/382297/pexels-photo-382297.jpeg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro-signup {
  height: 800px;
  background: url('https://static.pexels.com/photos/382297/pexels-photo-382297.jpeg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-container {
  height: 350px;
}

.top-nav-collapse {
  background: #00695c;
}

.navcolor {
  background: #00695c;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #00695c;
}

#intro, #intro-signup input[type='text']:focus:not([readonly]) {
  border-color: #c00;
  box-shadow: 0 1px 0 0 #c00;
  color: #fff;
}
#intro, #intro-signup input[type='password']:focus:not([readonly]) {
  border-color: #c00;
  box-shadow: 0 1px 0 0 #c00;
  color: #fff;
}

#intro, #intro-signup input[type='text']:not([readonly]) + label {
  color: rgba(255, 255, 255, 0.65);
}

#intro, #intro-signup input[type='text']:focus:not([readonly]) + label {
  color: #fff;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search-md'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
textarea.md-textarea {
  color: #fff;
}

ul {
  list-style: none;
}

.btn-mycolor {
  background: #00695c;
}

@media (max-width: 575px) {
  h1 {
    margin-top: 100px;
  }
}

@media (max-width: 576px) and (max-width: 767px) {
}

@media (max-width: 768px) and (max-width: 991px) {
}

@media (max-width: 992px) and (max-width: 1199px) {
  /* .signup {
        width: 350px
    } */
}

@media (min-width: 1200px) {
  h1 {
    margin-top: 100px;
  }
  .signup {
    width: 450px;
  }
  .add {
    margin: 0 auto;
  }
  .custom-file-input {
    min-width: 25rem;
  }
}
.test {
  background: #fff;
  margin-top: 46px;
  padding: 0 24px;
}
.card {
  border-bottom: 4px solid #00695c !important;
}

.btn-size {
  width: 200px;
}

.footer-color {
  background-color: #00695c;
}

/* .signup {
    width: 450px
} */

.space {
  margin-top: 90px;
}

.myfile {
  margin-bottom: 100px;
}

/* .add {
    margin: 0 auto
} */

.custom-file-input {
  width: 11rem;
}

.try {
  margin: 0 auto;
}

.adm {
  background-color: #00695c;
  width: 100%;
}

.spaces {
  margin-top: 60px;
}

.btn-sizes {
  width: 200px;
  margin-right: 120px;
}
